* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* border: 1px solid red; */
}

.main-section {
  position: relative;
  width: 100vw;
  height: 85vh;
  background-image: url(pics/blob-scene-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 2vw;
  background-color: transparent;
  padding: 1.5vh 5vw;
  font-family: "Roboto Mono", monospace;
}

.links {
  font-size: clamp(0.5rem, 3vw, 1rem);
  color: #e9ecef;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
}

.introduction {
  display: flex;
  flex-direction: column;
  width: 40vw;
  max-width: 500px;
  min-width: 300px;
}

.introduction span {
  color: aliceblue;
  text-decoration: underline;
  cursor: pointer;
}

.introduction span:hover {
  color: #4f8ac5;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  display: inline-block;
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: aliceblue;
  }
}

#hello-world {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  color: #4f8ac5;
}

#name {
  font-size: clamp(2.5rem, 3vw, 5rem);
  width: 500px !important;
  font-weight: 500;
  color: aliceblue;
}

#front-end {
  font-family: "Roboto Mono", monospace;
  font-size: clamp(1rem, 1vw, 1rem);
  color: rgb(146, 152, 158);
  font-weight: 500;
  max-width: 90%;
}

.socials {
  display: flex;
  gap: 1vw;
  margin-top: 1.5vh;
  cursor: pointer;
}

.socials img {
  max-width: 30px;
}

#blob {
  max-width: 45%;
  min-width: 350px;
  filter: grayscale(100%);
}

.about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #e9ecef;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.text h1 {
  color: #212529;
  font-family: "Roboto Mono", monospace !important;
  font-size: clamp(2rem, 3vw, 2rem); /* minimum, preferred , maximum*/
}

.container p {
  font-size: clamp(0.3rem, 2vw, 1.2rem);
  max-width: 500px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container img {
  width: 50vw;
  max-width: 600px;
}

.text {
  max-width: 40vw;
  min-width: 30vw;
}

.text span {
  color: #4f8ac5;
}
